.container
  .col-lg-9
    %hr/
    - @charities.each do |charity|
      .row
        .col-lg-5.col-md-5
          %a{href: "/#{charity.id}"}
            %img.img-responsive{alt: "", src: charity.avatar.url, width:458, height:257}/
        .col-lg-7.col-md-7
          = link_to "/#{charity.id}" do
            %h3= charity.title
          .progress
            .progress-bar{"class" => "progress-bar-#{if (charity.charity_account_transactions.all.map(:amount).reduce(:+) / charity.goal)* 100 < 50 then "danger" else "success" end}", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{(charity.charity_account_transactions.all.map(:amount).reduce(:+) / charity.goal)* 100}", role: "progressbar", style: "width: #{(charity.charity_account_transactions.all.map(:amount).reduce(:+) / charity.goal)* 100}%;"}
              =charity.goal - charity.charity_account_transactions.all.map(:amount).reduce(:+)
          %p= charity.description
          %a.btn.btn-primary{href: "/#{charity.id}"}
            Искам да помогна
      %hr/
  .col-lg-3
    .well
      %h4 Категории
      %ul.list-unstyled
        - @categories.each do |category|
          %li
            %a{href: "#{category.id}"}= category.name
