.container
  .row
    .col-lg-6
      %h3= "Събрана сума: #{@transaction_list.revenue}"
      %h3= "Похарчена сума: #{@transaction_list.expenses}"
    .col-lg-6
      %h3= "Баланс: #{@transaction_list.total}"
    .col-lg-12
      .h1.page-header
  - @transaction_list.transactions.each do |transaction|
    .row
      .col-lg-1
        - if transaction.expense?
          = image_tag("minus.png", size: "64x64")
        - else
          = image_tag("plus.png", size: "64x64")
      .col-lg-11
        = link_to "#" do
          - if transaction.expense?
            %h4= "#{transaction.done_by} използва #{transaction.amount}"
          - else
            %h4= "#{transaction.done_by} дари #{transaction.amount}"
          %p= "на #{transaction.date}"

      .col-lg-12
        .h1.page-header
