.col-lg-9
  %hr/
  - @happy_stories.each do |happy_end|
    .row
      .col-lg-5.col-md-5
        %a{href: "/#{happy_end.id}"}
          %img.img-responsive{alt: "", src: happy_end.avatar.url, width:458, height:257}/
      .col-lg-7.col-md-7
        = link_to "/#{happy_end.id}" do
          %h3= happy_end.title
        - if happy_end.description.size > 300
          %p= happy_end.description.slice(0, 300) + "...."
        - else
          %p= happy_end.description
        %a.btn.btn-primary{href: "/#{happy_end.id}"}
          Искам да помогна
    %hr/
