.col-lg-8
  / the actual blog post: title/author/date/content
  %h1=@charity.title
  %hr/
  %p
    %span.glyphicon.glyphicon-time
    =@charity.created_at
  %hr/
  %img.img-responsive{src: @charity.avatar.url, width:900, height:300}/
  %hr/
  .progress
    .progress-bar{"class" => @charity.progress_bar_class, "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@charity.progress_bar_current}", role: "progressbar", style: "width: #{@charity.progress_bar_current}%;"}
      %span= "#{@charity.total_amount} / #{@charity.goal} лв."
  %ul.list-unstyled
    %li
      - [1, 10, 100].each do |amount|
        %img{src: 'assets/plus.png', width:40, height:40, "data-target" => "#myModal#{amount}", "data-toggle" => "modal"}/
        %a{href: "", "data-target" => "#myModal#{amount}", "data-toggle" => "modal"} Дари #{amount} лв
      %img{src: 'assets/plus.png', width:40, height:40, "data-target" => "#myModal", "data-toggle" => "modal"}/
      %a{href: "", "data-target" => "#myModal", "data-toggle" => "modal"} Дари от сърце
  %hr/
  #myModal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        %form{ :action => "", :method => "post"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Дари 1 лв
          .modal-body
            %fieldset
              %ul.list-unstyled
                %li
                  %label{:for => "name"} Име:
                  %input{:type => "text", :name => "name", :class => "text"}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Затрвори
            %button.btn.btn-primary{type: "submit"} Дари
  #myModal10.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        %form{ :action => "", :method => "post"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Дари 10 лв
          .modal-body
            %fieldset
              %ul.list-unstyled
                %li
                  %label{:for => "name"} Име:
                  %input{:type => "text", :name => "name", :class => "text"}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Затрвори
            %button.btn.btn-primary{type: "submit"} Дари
  #myModal100.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        %form{ :action => "", :method => "post"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Дари 100 лв
          .modal-body
            %fieldset
              %ul.list-unstyled
                %li
                  %label{:for => "name"} Име:
                  %input{:type => "text", :name => "name", :class => "text"}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Затрвори
            %button.btn.btn-primary{type: "submit"} Дари
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        %form{ :action => "/", :method => "post"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Направи дарение
          .modal-body
            %fieldset
              %ul.list-unstyled
                %li
                  %label{:for => "name"} Име:
                  %input{:type => "text", :name => "name", :class => "text"}
                %li
                  %label{:for => "name"} Сума:
                  %input{:type => "text", :name => "amount", :class => "text"}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Затрвори
            %button.btn.btn-primary{type: "submit"} Дари
  %ul.nav.nav-tabs
    %li.active.information-tab
      %a.information-button{href: "#"} Информация
    %li.clarity-tab
      %a.clarity-button{href: "#"} Прозрачност
  %hr/
  .description
    %p.lead
      = @charity.title
    %p
      = @charity.description
    %p
    %hr/
  .money-container.hidden
    .row
      .col-lg-6
        %h3= "Събрана сума: #{@transaction_list.revenue} лв."
        %h3= "Похарчена сума: #{@transaction_list.expenses.abs} лв."
      .col-lg-6
        %h3= "Баланс: #{@transaction_list.total} лв."
      .col-lg-12
        .h1.page-header
    - @transaction_list.transactions.each do |transaction|
      .row
        .col-lg-1
          - if transaction.expense?
            = image_tag("minus.png", size: "64x64")
          - else
            = image_tag("plus.png", size: "64x64")
        .col-lg-11
          = link_to "#" do
            - if transaction.expense?
              %h4= "#{transaction.done_by} използва #{transaction.amount.abs} лв."
            - else
              %h4= "#{transaction.done_by} дари #{transaction.amount} лв."
            %p= "на #{transaction.date}"

        .col-lg-12
          .h1.page-header
  .well
    %h4 Оставете коментар:
    = render 'fb_comment'
  %hr/
