%html
  %head
    %title= Tardis
    %meta(charset="utf-8")

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/fb_head'
    .navbar.navbar-inverse{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Tardis
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            -#%li.active
            %li
              %a{href: "happy-story"} Щастливи развръзки
    .container
      = yield
      .col-lg-3
        .well
          %h4 Категории
          %ul.list-unstyled
            - @categories.each do |category|
              %li
                %a{href: "category/#{category.id}"}= category.name
        .well
          = link_to "happy-story" do
            %h4 Щастливи развръзки
          %ul.list-unstyled
            - @happy_endings.each do |happy_end|
              %li
                %a{href: "/#{happy_end.id}"}= happy_end.title
      %footer
        .row
          .col-lg-12
            %p Copyright © Tardis 2014
